{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block meta %} {% endblock meta %}
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="https://shop.wolves.co.uk/siteimg/favicons/favicon-32x32.png?v=24052021">
</head>

<body>
    {% block content %} {% endblock content %}
    {% include 'toast.html' %}
    {% include 'modal.html' %}
    <script>
        const hamburgerButton = document.getElementById('hamburger-button');
        const mobileMenu = document.getElementById('mobile-menu');

        if (hamburgerButton) {
            hamburgerButton.addEventListener('click', () => {
                mobileMenu.classList.toggle('hidden');
            });
        }
    </script>
</body>
</html>