{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>WolverHampton Shop</title>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}


<div class="pt-16 min-h-screen bg-gray-50">
    <div class="max-w-7xl mx-auto py-8 px-8">
        <div class="mb-8 flex space-x-4">
            <a href="?filter=all">
                <button type="button" class="text-xl">All Products</button>
            </a>
            <a href="?filter=my">
                <button type="button" class="text-xl">My Products</button>
            </a>
        </div>
                
        {% if not product_list %}
        <div class="flex items-center justify-center w-full flex-col">
            <img src="{% static 'image/no-image.png' %}" alt="No product available" class="w-full h-full object-contain max-w-md max-h-md">
            <p>Belum ada data produk pada {{ shopName }}</p>
        </div>
        {% else %}
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
            {% for product in product_list %}
                {% include 'card_product.html' with Item=product %}
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>

{% endblock content %}