{% extends 'base.html' %}
{% block content %}
<p><a href="{% url 'main:show_main' %}"><button>← Back to News List</button></a></p>


<h1>{{ product.name }}</h1>

{% if product.thumbnail %}
<img src="{{ product.thumbnail }}" alt="a photo of {{product.name}}">
<br /> <br />
{% endif %}

<p><b>{{ product.get_category_display }} </b>{% if product.is_featured %} |
    <b>Featured</b>{% endif %}{% if product.is_item_wanted %} |
    <b>Frequently Wishlisted</b> {% endif %}
</p>

<h3>{{ product.price }}</h3>

<p>{{ product.description }}</p>
{% endblock content %}

