{% extends 'base.html' %}

{% block meta %}
<title>Register - WolverHampton Shop</title>
{% endblock meta %}

{% block content %}
<div class="bg-gray-50 w-full min-h-screen flex items-center justify-center p-8">
<div class="w-full max-w-md z-10 relative border border-gray-300 rounded-lgx">
    <div class="bg-white p-6 rounded-lg shadow-sm form-style">
        <h1 class="text-center text-2xl font-bold">Join Us</h1>
        <h3 class="text-center my-2 text-sm">Welcome to WolverHampton Shop</h3>
        
        <div class="my-2" id="error-container"></div>

        <form method="POST" id="register-form" action="" class="space-y-8">
            {% csrf_token %}
            <div class="flex flex-col mb-2">
                <label for="name" class="mb-2" >Username</label>
                <input type="text"
                    maxlength="50"
                    name="username"
                    required
                    placeholder="Enter your username"
                    class="p-1 border px-4 py-3 rounded-md border-gray-300">
            </div>
            
            <div class="flex flex-col mb-2">
                <label for="password1" class="mb-2" >Password</label>
                <input 
                    type="password"
                    name="password1"
                    id="password"
                    placeholder="Enter your password"
                    class="p-1 border px-4 py-3 rounded-md border-gray-300">
            </div>

            <div class="flex flex-col mb-2">
                <label for="password2" class="mb-2" >Confirm Password</label>
                <input
                    type="password"
                    name="password2"
                    id="password"
                    placeholder="Confirm your password"
                    class="p-1 border px-4 py-3 rounded-md border-gray-300">
            </div>

            <button type="submit" class="w-full bg-[#fdb913] px-3 py-3 rounded-lg font-bold hover:bg-[#e4a70d] transition-colors">Sign in</button>
        </form>
    
        <div id="messages">
            <ul id="messages-container"></ul>
            <p class="mt-4 text-center p-2">Already have an account? <a href="{% url 'main:login' %}" class="text-[#fdb913] font-medium">Sign in</a></p>
        </div>
        
        </div>
    </div>
</div>

<script>
    const REGISTER_API_ENDPOINT = "{% url 'main:register' %}";

    const registerForm = document.getElementById("register-form");
    const errorContainer = document.getElementById("error-container");

    registerForm.addEventListener('submit', async function (e) {
        e.preventDefault();
        errorContainer.innerHTML = '';
        const formData = new FormData(registerForm);

        try {
            const response = await fetch(REGISTER_API_ENDPOINT, {
                method: 'POST',
                body: formData,
                headers: {'Accept': 'application/json'},
            })

            const data = await response.json();

            if (response.ok) {
                showToast("Register success!", "", "success")

                setTimeout(() => {
                    window.location.href = "{% url 'main:login' %}";
                }, 1000)
            }
            else if (data.errors) {
                errors = data.errors;
                for (const e in errors) {
                    errors[e].forEach(error => {
                        const errorDiv = document.createElement('div');
                        errorDiv.className = 'px-4 py-3 text-sm border bg-red-50 border-red-200 text-red-700 mb-2';
                        let fieldName = e.replace(/_/g, ' ').replace(/\b\w/g, l => l.toUpperCase());
                        errorDiv.innerHTML = fieldName === '__all__' ? `${error.message}` : `<strong>${fieldName}:</strong> ${error.message}`;
                        errorContainer.appendChild(errorDiv);
                    });
                }
            }
        } catch (error) {
            console.error('Error: ', error);
        }
    })

</script>
{% endblock content %}